@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
}

body {
  font-family: "Dosis", sans-serif;
  font-size: 10px;
  background: #333;
  color: #fff;
}

.container {
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  /* background: red; */
  height: 100%;
  width: 100%;
}

/* Header */
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10vh;
  background: transparent;
  display: flex;
  justify-content: end;
  align-items: center;
}

#header #navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#header #navbar .navbar-items {
  display: flex;
}

#header #navbar .navbar-items .navbar-item {
  margin: 0 1rem;
}

#header #navbar .navbar-items .navbar-item .navbar-link {
  font-size: 1.4rem;
  transition: color 0.3s ease;
}

#header #navbar .navbar-items .navbar-item .navbar-link:hover {
  color: #00a3a3;
}

/* Section One */
#welcome-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("images/heading-bg.jpg");
  background-size: cover;
  background-position: center center;
}

#welcome-section .welcome-banner {
  max-width: 50%;
}

#welcome-section .welcome-banner h1 {
  font-size: 4rem;
}

#welcome-section .welcome-banner h1 span {
  color: #00a3a3;
}

#welcome-section .welcome-banner h3 {
  font-size: 2.8rem;
  margin-bottom: 1.5rem;
}

#welcome-section .welcome-banner .btn {
  background: #00a3a3;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 1.5rem;
  transition: opacity 0.3s ease;
}

#welcome-section .welcome-banner .btn:hover {
  opacity: 0.6;
}

/* Section Two */
#about {
  text-align: center;
  padding: 2rem;
}

.section-header {
  margin-bottom: 3rem;
  text-align: center;
}

.section-header h2 {
  font-size: 2.6rem;
}

.section-header .underline {
  height: 2px;
  background: #fff;
  width: 10%;
  margin: 0 auto;
}

#about .icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

#about .icons .icon i {
  font-size: 3rem;
  color: #00a3a3;
  margin-bottom: 1rem;
}

#about .icons .icon .icon-title {
  font-size: 2rem;
  letter-spacing: 1px;
}

#about .icons .icon .text {
  font-size: 1.4rem;
}

/* Section Three */
#projects {
  padding: 4rem 0;
  background: #00a3a3;
}

#projects .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

#projects .project-tile {
  background: #333;
  border-radius: 10px;
  padding: 1rem;
}

#projects .project-tile p {
  font-size: 1.2rem;
  margin: 1rem 0;
}

#projects .project-tile .buttons {
  padding: 1rem 0;
}

#projects .project-tile .github-btn,
#projects .project-tile .project-btn {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 10px;
  margin: 1rem 0.5rem;
  transition: opacity 0.3s ease;
}

#projects .project-tile .github-btn:hover,
#projects .project-tile .project-btn:hover {
  /* transform: translateY(5px); */
  opacity: 0.6;
}

#projects .project-tile .project-btn {
  background: #00a3a3;
  color: #fff;
}

#projects .project-tile .github-btn {
  background: #fff;
  color: #00a3a3;
}

/* Section 4 */
#contact {
  padding: 4rem;
}

#contact .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

#contact .grid .contact i {
  font-size: 2.8rem;
  margin-bottom: 0.5rem;
}

#contact .grid .contact p {
  font-size: 1.8rem;
}

/* Footer */
#footer {
  background: #000;
  height: 3rem;
  padding: 1rem 0;
  text-align: center;
}

#footer p {
  font-size: 1.2rem;
}
