@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: 1fr 6fr;
}

/* li {
  list-style: none;
} */

a {
  text-decoration: none;
}

/* Navbar */
#navbar {
  border-right: 1px solid #ccc;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
}

#navbar .navbar-header {
  padding: 2rem;
  text-transform: uppercase;
}

#navbar .navbar-item {
  border-top: 1px solid #ccc;
  padding: 1.5rem 2rem;
}

#navbar .navbar-item a {
  color: #000;
}

/* Main Doc */
#main-doc {
  padding: 2rem;
  position: absolute;
  margin-left: 310px;
}

#main-doc section {
  margin-bottom: 2rem;
}

#main-doc .main-section header {
  font-size: 2rem;
}

#main-doc .main-section div {
  padding: 0 2rem;
}

#main-doc .main-section div p {
  margin-bottom: 1rem;
}

#main-doc .main-section div p code {
  background: #ccc;
}

#main-doc .main-section div ul {
  padding: 0 2rem;
}

#main-doc .main-section div li {
  font-style: italic;
}
