* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  height: 100vh;
  width: 100%;
}

.container {
  max-width: 900px;
  margin-inline: auto;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.card {
  margin-top: 2rem;
  padding: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card-header h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.form-control input {
  outline: 0;
  border: none;
  width: 100%;
  padding: 0.5rem 0;
  background: transparent;
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.btn {
  padding: 0.75rem 1rem;
  font-size: 1.1rem;
  border: 0;
  color: #fff;
  border-radius: 0.2rem;
  margin-bottom: 3rem;
}

.add-btn {
  background: teal;
}

.clear-btn {
  background: black;
}

.card-action {
  margin-top: 3rem;
}

.guest-list {
  margin-bottom: 2rem;
}

.guest-list .guest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
}

.delete-item {
  cursor: pointer;
}
